{% extends 'base.html.twig' %}

{% block title %}
	Votre score
{% endblock %}
{% block titlecontent %}
	<h1> Thème : {{ theme.name }} </h1>
{% endblock %}
{% block maincontent %}
	<p> Votre score: {{ score }}/10 </p>
	<a href={{ path('homepage') }}> Faire un autre quizz </a>
{% endblock%}