{% extends 'base.html.twig' %}

{% block title %} Fiche produit {% endblock %}

{% block body %}
	<h1> Fiche produit </h1>
	<h2> {{ product.ORIGFDNM }} </h2>
	<h3> Catégorie : {{ product.ORIGGPFR }} </h3>
	<p> Pour plus de détails, voir le dump </p>
{% endblock %}